<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.org.iupi.condominio"
    android:versionCode="1"
    android:versionName="1.0.0" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/txt_nome_aplicacao"
        android:theme="@style/IupiTheme" >
        
        <activity
            android:name="br.org.iupi.condominio.view.SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="br.org.iupi.condominio.view.PrincipalActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/txt_nome_aplicacao"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <data android:mimeType="application/vnd.br.org.iupi.condominio" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".view.Rondas"
            android:label="@string/txt_nome_aplicacao" >
        </activity>
        
        <activity
            android:name=".view.GravaTagNFC"
            android:label="@string/txt_nfc_grava_tag"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity
            android:name=".view.DetalheRonda"
            android:label="@string/txt_rondas"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity
            android:name="br.org.iupi.condominio.view.AlertaRonda"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/txt_ronda_alerta"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <receiver android:name=".timer.AlertaRondaReceiver" >
            <intent-filter>
                <action android:name="ALERTA_RONDA" />
                <action android:name="android.intent.action.EXTERNAL_APPLICATIONS_AVAILABLE" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity
            android:name="br.org.iupi.condominio.view.AlarmeAgendaActivity"
            android:label="@string/txt_agenda_alarme"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity
            android:name="br.org.iupi.condominio.view.LeituraFormularioActivity"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>